.admin-container {
  display: flex;
  .admin-sidebar {
    .css-dip3t8 {
      height: 100vh !important;
    }
  }

  .admin-content {
    width: 100%;
    .admin-header {
      height: 40px;
      border: 1px solid green;
    }

    .admin-main {
    }
  }
}
